
#contenedor{	
	width: 140px;
	border: 10px solid black;
	padding: 3px;

}

.boton{
	border: none;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	font-size: 20px;
}

#calculo{
	width: 150px;
	height: 40px;
	border: 10px solid black;
	font-size: 30px;
}


